.w-20{
  width: 20%;

}
.w-30{
  width: 30%;
}
.logo-text{
  width: 110px;
  margin-bottom: 25px;
  margin-top: 10px;
 
}
.bi{
  margin-right: 10px;
  font-size: x-large;
  
}
.story{
  height: 70px;
  padding: 10px;
  margin-bottom: 45px;

}

.dp{
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.see-all{
  font-size: 13px;
}
.prof{
  
  height: 45px;
}
.sug{
  height: 45px;
  margin-bottom: 15px;
}
.image{
  width: 450px;
  
}

.suggestions h5{
  font-size: 14px;
}
.suggestions h6{
  font-size: 12px;
  color: rgb(119, 116, 116);
}
.suggestions .dp{
  margin-top: 0px !important; 
}
.gardient-border{
  margin-left: 7px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ffcc00,  #ff6600, #ff00ff);
}

.story-dp{
  width: 64px;
 
}
.text-primary{
  font-size: 13px;
}

@media(max-width: 750px) {
 
 .w-20, .w-30{
    display: none;
  }
  .w-50{
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 15%;
  }
  .image{
  width: 360px;
  
}
.story{
  height: 70px;
  padding: 10px;
  margin-bottom: 32px;

}
.headermo{
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 1px 10%;
  background-color: #fff;
 
  
}
.lefth {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.lefth select{
width: 15px;
border: none;
}
.lefth img{
  margin-left: -15%;
  width: 120px;
}
.righth i{
  font-size: 22px;
}
.righth{
  display: flex;
  gap: 10px;
}

.footermo{
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 6%;
  background-color: #fff;
  transition: all 0.4s ease;
}
.footermo i{
  font-size: 22px;
}
.dp{
  height: 28px;
}
.storydp{
  width: 62px;
  height: 62px;
}
.storydpm p{
 font-size: 13px;
 margin-bottom: 8px;
 font-weight:500;
}
.storydpm span{
  font-size: 16px;
  background-color: black;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  margin-left: 45px;
  position: absolute;
  padding-bottom: 3px;
  
}
.spacemo{
  margin-bottom: 20%;
}

}